/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}

.container {
    width: 300px;
    margin: 0;
    padding: 0;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

input.ng-invalid, select.ng-invalid  {
    border-left: 5px solid #a94442; /* red */
}

.required-asterisk {
    color: #a94442;
    position: relative;
    top: 1px;
}