<div [formGroup]="addHeroForm">
    <label for="power"><span class="required-asterisk">*</span> Hero Power</label>
    <select class="form-control" id="power" formControlName="power">
        <option value="">-</option>
        <option value="1">Fire Ball</option>
        <option value="2">Thunder Shock</option>
        <option value="3">Frozen Tomb</option>
        <option value="4">Gust</option>
    </select>
</div>