<h2>My Heroes</h2>
<hero-form [addHero]="onAddHero"></hero-form>

<h4>Test my-highlight directive by change color of hero's name when user hover hero item</h4>
<div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes | async"
        [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span>
        <span class="name" (click)="onSelect(hero)" [myHighlight]="color">{{hero.name}}</span>
        <span class="delete" (click)="deleteHero(hero)">Delete</span>
    </li>
</ul>

<my-hero-detail [hero]="selectedHero"></my-hero-detail>